{% extends "cliente/template/base.html" %}
{% load static %}
{% block perfil %}
    {% if not logeado %}
        <div class="control-panel">
            <a href="#" class="btn btn--sign login-window">Log in</a>
        </div>
    {% else %}
        <div class="control-panel">
            <div class="auth auth--home">
                <a href="#" class="btn btn--sign btn--singin"><i class="fa fa-user" style="color:gray"></i> {{ nombre }}
                </a>
                <ul class="auth__function">
                    <li><a href="perfil" class="auth__function-item">Perfil</a></li>
                    <li><a href="salir" class="auth__function-item">Salir</a></li>
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block body %}
    <!-- Main content -->
    <!-- Main content -->
    <section class="container">
        <div class="order-container">
            <div class="order">
                <img class="order__images" alt='' src="{%  static "images/tickets.png"%}">

                <p class="order__title">
                    Reservando </span>
                </p>
            </div>
        </div>
        <div class="order-step-area">
            <div class="order-step second--step order-step--disable">Eliga
                un asiento
            </div>
            <div class="order-step third--step">Termine Reserva</div>
        </div>

        <div class="col-sm-12">
            <div class="checkout-wrapper">
                <h2 class="page-heading">Precio</h2>
                <ul class="book-result">
                    <li class="book-result__item">Tickets: <span
                            class="book-result__count booking-ticket">3</span></li>
                    <li class="book-result__item">One item price: <span
                            class="book-result__count booking-price">$20</span></li>
                    <li class="book-result__item">Reservation fee: <span
                            class="book-result__count">$3</span></li>
                    <li class="book-result__item">Total: <span
                            class="book-result__count booking-cost">$69</span></li>
                </ul>

                <h2 class="page-heading">Informacion</h2>

                <form id='contact-info' method='post' novalidate=""
                      class="form contact-info">
                    <div class="contact-info__field contact-info__field-mail">
                        <input type='email' name='user-mail' placeholder='Your email'
                               class="form__mail">
                    </div>
                    <div class="contact-info__field contact-info__field-tel">
                        <input type='tel' name='user-tel' placeholder='Phone number'
                               class="form__mail">
                    </div>
                </form>

                <p class="reservation-message">Fill your contact information to
                    recieve your reservation code. Reserved tickets are removed 20
                    minutes befor the session is due to start</p>

            </div>

            <div class="order">
                <a href="/cartelera/butacas/reservacion/confirmacion/"
                   class="btn btn-md btn--warning btn--wide">Reservar</a>
            </div>

        </div>

    </section>

    <div class="clearfix"></div>

{% endblock %}
{% block scripts %}
    <script type="text/javascript">

        $(document).ready(function () {
            init_MovieList();
            $("#idComplejo").selectbox();
            $("#idCiudad").selectbox({
                onChange: function (val, inst) {
                    var idCiudad = val;
                    var fecha = $('#datepicker').val();

                    $.getJSON('/complejosPorCiudad', {idCiudad: idCiudad, fecha: fecha}, function (response) {
                        $("#idComplejo").selectbox("detach");
                        llenarSelect($("#idComplejo"), response.complejos);
                        $("#idComplejo").selectbox({
                            onChange: function (val2, inst2) {
                                var idCiudad = $('#idCiudad').val();
                                var idComplejo = val2;
                                var fecha = $('#datepicker').val();

                                $.getJSON('/carteleraPorComplejosYPorCiudad', {
                                    idCiudad: idCiudad,
                                    idComplejo: idComplejo,
                                    fecha: fecha,
                                }, function (response) {
                                    console.log("trae cartelera");
                                });
                            }
                        });
                    });
                }
            });
        });
    </script>
{% endblock %}
