{% extends "cliente/template/base.html" %}
{% load static %}
{% block perfil %}
    {% if not logeado %}
        <div class="control-panel">
            <a href="#" class="btn btn--sign login-window">Log in</a>
        </div>
    {% else %}
        <div class="control-panel">
            <div class="auth auth--home">
                <a href="#" class="btn btn--sign btn--singin"><i class="fa fa-user" style="color:gray"></i> {{ nombre }}
                </a>
                <ul class="auth__function">
                    <li><a href="perfil" class="auth__function-item">Perfil</a></li>
                    <li><a href="salir" class="auth__function-item">Salir</a></li>
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block body %}
    <!-- Main content -->
    <!-- Main content -->
    <section class="container">
        <div class="order-container">
            <div class="order">
                <img class="order__images" alt='' src="{% static "images/tickets.png" %}">

                <p class="order__title">
                    Reservando </span>
                </p>
            </div>
        </div>
        <div class="order-step-area">
            <div class="order-step second--step order-step--disable">Eliga
                un asiento
            </div>
            <div class="order-step third--step">Termine de Reservar</div>
        </div>

        <div class="col-sm-12">
            <div class="checkout-wrapper">
                <h2 class="page-heading">Precio</h2>
                <ul class="book-result">
                    <li class="book-result__item">Tickets: <span
                            class="book-result__count booking-ticket">{{ tickets }}</span></li>

                    <li class="book-result__item">Butacas: <span
                            class="book-result__count booking-ticket">
                        {% for a in asientos %}
                            {{ a.butaca }} /
                        {% endfor %}</span></li>

                    <li class="book-result__item">Total: <span
                            class="book-result__count booking-cost">S/{{ total }}</span></li>
                </ul>

                <h2 class="page-heading">Información</h2>

                <form id='contact-info' method='post' novalidate=""
                      class="form contact-info">
                    <div class="contact-info__field contact-info__field-mail">
                        <input id="email" type='email' name='user-mail' placeholder='Email'
                               class="form__mail" value="{{ cliente.email }}">
                    </div>
                    <div class="contact-info__field contact-info__field-tel">
                        <input id="celular" type='tel' name='user-tel' placeholder='Celular'
                               class="form__mail" value="{{ cliente.celular }}">
                    </div>
                </form>

                <p class="reservation-message">Complete su información de contacto para recibir su código de
                    reservación. Las Reservas de tickets son removidas 20 minutos antes del inicio de la función.</p>

            </div>

            <div class="order">
                <a id="btnConfirmacion" href="#" butacas="{{ butacas }}"
                   class="btn btn-md btn--warning btn--wide">Reservar</a>
            </div>

        </div>

    </section>

    <div class="clearfix"></div>

{% endblock %}
{% block scripts %}
    <script type="text/javascript">

        $(document).ready(function () {
            $("#btnConfirmacion").on('click', function () {
                var butacas = $(this).attr('butacas');
                var correo = $("#email").val();
                $(this).attr('href', '/cartelera/butacas/reservacion/confirmacion/' + butacas + '/' + correo);
            });
        });
    </script>
{% endblock %}
