{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    {% include "cliente/template/estilos.html" %}

</head>
<body>
<div class="wrapper">
    <!-- Header section -->
    <header class="header-wrapper">
        <div class="container">
            <!-- Logo link-->
            <a href='/' class="logo"> <img alt='logo' src="{% static "images/logo.png" %}"> </a>
            <!-- Main website navigation-->
            <nav id="navigation-box">
                <!-- Toggle for mobile menu mode -->
                <a href="#" id="navigation-toggle">
<span class="menu-icon"> <span class="icon-toggle" role="button" aria-label="Toggle Navigation"> 
<span class="lines"></span> 
</span> </span>
                </a>
                <!-- Link navigation -->
                <ul id="navigation">
                    <li><span class="sub-nav-toggle plus"></span>
                        <a href="/cartelera/0/0/01/01/2000/">Cartelera</a></li>
                    <li><span class="sub-nav-toggle plus"></span>
                        <a href="/historial">Consultar Reserva</a></li>
                </ul>
            </nav>
            <!-- Additional header buttons / Auth and direct link to booking-->
            {% if not logeado %}

                <div class="control-panel"><a href="#" class="btn btn--sign login-window">Log in</a></div>
            {% else %}

                <div class="control-panel">
                    <div class="auth auth--home">
                        <a href="#" class="btn btn--sign btn--singin"><i class="fa fa-user" style="color:gray"></i> {{ nombre }}

                    </a>
                        <ul class="auth__function">
                            <li>
                                <a href="profile" class="auth__function-item">Perfil</a></li>
                            <li><a href="salir" class="auth__function-item">Salir</a></li>
                        </ul>
                    </div>
                </div>
            {% endif %}

        </div>
    </header>
    {% block body %}
    {% endblock %}

    {% include "cliente/template/footer.html" %}

</div>
{% include "cliente/template/librerias.html" %}

<script type="text/javascript"> $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0;
                             i < cookies.length;
                             i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }

                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        }
);
$(document).ajaxStart(function () {
            $.blockUI({
                        message: '<h1><img src="{% static "images/ajax-loader.GIF"%}" width="20" height="20" /> Espere un momento...</h1>'
                    }
            );
        }
);
$(document).ajaxStop($.unblockUI);
$(document).ready(function () {
            init_Cinema();
            $("#login-form").submit(function (event) {
                        $("#divErrorLogin").hide();
                        $("#divErrorRegister").hide();
                        $.ajax({
                                    data: $("#login-form").serialize(),
                                    url: 'logear/',
                                    type: 'post',
                                    dataType: 'json',
                                    success: function (response) {
                                        if (response['logeado'] == true) {
                                            setTimeout(function () {
                                                        location.reload();
                                                    }
                                                    , 0);
                                        }
                                        else {
                                            $("#divErrorLogin").show();
                                        }
                                    }
                                }
                        );
                        return false;
                    }
            );
            $("#register-form").submit(function (event) {
                        $("#divErrorLogin").hide();
                        $("#divErrorRegister").hide();

                        $.ajax({
                                    data: $("#register-form").serialize(),
                                    url: 'registrarCliente/',
                                    type: 'post',
                                    dataType: 'json',
                                    success: function (response) {
                                        console.log(response['logeado']);
                                        if (response['logeado'] == true) {
                                            setTimeout(function () {
                                                        location.reload();
                                                    }
                                                    , 1000);
                                        }
                                        else {
                                            $("#divErrorRegister").show();
                                        }
                                    }
                                }
                        );
                        return false;
                    }
            );
        }
);
</script>

{% block scripts %}
{% endblock %}

</body>
</html>